* {
  background-color: #343a40;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navItemColor > ul > li > a {
  color: #ced4da;
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.navItemColor > ul > li > a:hover {
  color: #2a9d8f;
}

.lineUnderNav {
  border-bottom: 1px solid #ced4da;
}

.comingDown {
  margin-top: 50px;
}

.myName > .slide-left > h1 {
  color: #2a9d8f;
  font-size: 70px;
  margin-top: 100px;
  margin-left: 60px;
}

.myName > .slide-left2 > h2 {
  color: #dee2e6;
  font-size: 35px;
  margin-top: 50px;
  margin-left: 60px;
}
.myName > .slide-left2 > h3 {
  color: #dee2e6;
  font-size: 35px;
  margin-left: 60px;
}

.imagePouya {
  margin-left: 80px;
  width: 480px;
  height: 480px;
}

.btn-circle.btn-xl {
  width: 90px;
  height: 90px;
  padding: 10px 16px;
  border-radius: 45px;
  font-size: 12px;
  text-align: center;
  border: none;
}

.btn-primary {
  background-color: #ced4da !important;
  border-color: #ced4da;
}

.btn-primary:hover {
  background-color: #2a9d8f !important;
  -webkit-transition: transform 0.75s ease-in-out;
  transform: scale(1.2) perspective(1px);
}

.btn-primary:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.buttonDown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-arrow-down {
  color: black;
  background-color: transparent;
}

.homeSection {
  height: 700px;
}

.aboutMeSection {
  height: 750px;
  width: 100%;
}

.contactPage {
  height: 750px;
  width: 100%;
}

.blockquote {
  margin-left: 100px;
  width: 500px;
  height: 500px;
  background-color: #dee2e6;
}

.paragrapgh {
  background-color: #dee2e6;
}

.skils {
  margin-right: 150px;
}

.skils > h1 {
  color: #2a9d8f;
  font-size: 35px;
  margin-right: 60px;
  margin-bottom: 50px;
}

.skils > h2 {
  color: #2a9d8f;
  font-size: 35px;
  margin-right: 235px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.java {
  width: 80px;
  height: 80px;
}

.python {
  margin-left: 20px;
  width: 80px;
  height: 80px;
}

.go {
  width: 90px;
  height: 90px;
}

.clang {
  margin-right: 20px;
  width: 80px;
  height: 80px;
}

.js {
  margin-left: 40px;
  width: 80px;
  height: 80px;
}

.pythonText > h3 {
  color: #dee2e6;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 20px;
}

.javaText > h3 {
  color: #dee2e6;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 20px;
}

.goText:hover,
.javaText:hover,
.pythonText:hover,
.cText:hover,
.jsText:hover,
.flutterText:hover,
.flaskText:hover,
.ginText:hover,
.electronText:hover,
.reactText:hover {
  -webkit-transition: transform 0.75s ease-in-out;
  transform: scale(1.2) perspective(1px);
}

.goText > h3 {
  color: #dee2e6;
  font-size: 20px;
}

.cText > h3 {
  color: #dee2e6;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
}

.jsText > h3 {
  color: #dee2e6;
  margin-left: 35px;
  margin-top: 10px;
  font-size: 20px;
}

.flutter {
  width: 80px;
  height: 80px;
}

.flutterText > h3 {
  color: #dee2e6;
  margin-top: 10px;
  margin-left: 13px;
  font-size: 20px;
}

.flask {
  margin-left: 20px;
  width: 80px;
  height: 80px;
}

.gin {
  width: 80px;
  height: 80px;
}

.electron {
  width: 80px;
  height: 80px;
}

.react {
  margin-left: 40px;
  width: 80px;
  height: 80px;
}

.flaskText > h3 {
  color: #dee2e6;
  margin-top: 10px;
  margin-left: 18px;
  font-size: 20px;
}

.ginText > h3 {
  color: #dee2e6;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}

.electron {
  margin-right: 20px;
}

.electronText > h3 {
  color: #dee2e6;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 20px;
}

.reactText > h3 {
  color: #dee2e6;
  margin-top: 10px;
  margin-left: 55px;
  font-size: 20px;
}
.quote {
  margin-left: 80px;
  background: #dee2e6;
  padding: 1em;
  height: 500px;
  width: 500px;
  border-radius: 3em;
}

.paragrapgh {
  font-size: 30px;
}

.contactMe > h1 {
  font-size: 50px;
  color: #2a9d8f;
  text-align: center;
}

.stuff {
  margin-top: 100px;
}

.mail {
  margin-right: 10px;
}

.mailText > h1 {
  font-size: 30px;
  margin-right: 80px;
  color: #dee2e6;
}

.mailText {
  margin-bottom: 20px;
}

.phone {
  margin-right: 20px;
}

.phoneText {
  margin-bottom: 30px;
}

.phoneText > h1 {
  font-size: 30px;
  margin-right: 50px;
  color: #dee2e6;
}

.git {
  margin-right: 20px;
}

.gitText {
  margin-bottom: 30px;
}

.gitText > h1 {
  margin-right: 40px;
  font-size: 30px;
  color: #dee2e6;
}

.telegram {
  margin-right: 20px;
}

.telegramText {
  margin-left: 30px;
  margin-bottom: 20px;
}

.telegramText > h1 {
  margin-right: 40px;
  font-size: 30px;
  color: #dee2e6;
}

.contactText {
  margin-top: 103px;
  color: #adb5bd;
}

.myEmail {
}

.myPhone {
  margin-top: 50px;
}

.myGit {
  margin-top: 40px;
}

.myTelegram {
  margin-top: 40px;
}

.imageAnim {
  animation: slideleft 2s normal forwards;
  animation-name: image-slide;
}

.slide-left {
  animation: slideleft 1s linear forwards;
  animation-name: slide-left;
}

.slide-left2 {
  animation: slideleft 3s normal forwards;
  animation-name: slide-left2;
}

@keyframes slide-left {
  0% {
    transform: translate(-100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes slide-left2 {
  0% {
    transform: translate(100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes image-slide {
  0% {
    transform: translate(100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

.link {
  color: #adb5bd;
}

.link:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
.link:hover {
  color: #2a9d8f;
  background-color: transparent;
}

/* first change */

@media (max-width: 1400px) {
  .navItemColor > ul > li > a {
    font-size: 15px;
  }

  .myName > .slide-left > h1 {
    margin-top: 50px;
    font-size: 45px;
  }

  .myName > .slide-left2 > h2 {
    font-size: 20px;
  }
  .myName > .slide-left2 > h3 {
    font-size: 20px;
  }

  .imagePouya {
    width: 280px;
    height: 280px;
  }
  .quote {
    height: 300px;
    width: 300px;
  }
  .paragrapgh {
    font-size: 20px;
  }

  .skils > h1 {
    margin-bottom: 30px;
    font-size: 22px;
  }

  .skils > h2 {
    margin-top: 20px;
    font-size: 22px;
  }

  .java {
    width: 50px;
    height: 50px;
  }

  .python {
    margin-left: 20px;
    width: 50px;
    height: 50px;
  }

  .go {
    margin-left: 10px;
    margin-right: 0px;
    width: 50px;
    height: 50px;
  }

  .clang {
    margin-right: 0px;
    width: 50px;
    height: 50px;
  }

  .js {
    margin-right: 150px;
    width: 50px;
    height: 50px;
  }

  .pythonText > h3 {
    margin-left: 20px;
    font-size: 15px;
  }

  .javaText > h3 {
    margin-right: 60px;
    font-size: 15px;
  }

  .goText > h3 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
  }

  .cText > h3 {
    font-size: 15px;
  }

  .jsText > h3 {
    font-size: 15px;
  }

  .flutter {
    margin-right: 80px;
    width: 50px;
    height: 50px;
  }

  .flask {
    width: 50px;
    height: 50px;
  }

  .gin {
    width: 50px;
    height: 50px;
  }

  .react {
    width: 45px;
    height: 45px;
  }

  .electron {
    width: 50px;
    height: 50px;
  }

  .flutterText > h3 {
    margin-left: 0px;
    font-size: 14px;
  }

  .flaskText > h3 {
    font-size: 15px;
  }

  .ginText > h3 {
    font-size: 15px;
  }

  .electronText > h3 {
    font-size: 15px;
  }

  .reactText > h3 {
    margin-left: 45px;
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .navItemColor > ul > li > a {
    font-size: 10px;
  }

  .myName > .slide-left > h1 {
    font-size: 30px;
  }

  .myName > .slide-left2 > h2 {
    font-size: 12px;
  }
  .myName > .slide-left2 > h3 {
    font-size: 12px;
  }

  .imagePouya {
    width: 150px;
    height: 150px;
    margin-top: 50px;
  }

  .quote {
    height: 200px;
    width: 200px;
  }
  .paragrapgh {
    font-size: 10px;
  }

  .skils > h1 {
    margin-bottom: 20px;
    font-size: 10px;
  }

  .skils > h2 {
    margin-top: 10px;
    font-size: 10px;
  }

  .java {
    width: 25px;
    height: 25px;
  }

  .python {
    margin-left: 10px;
    width: 25px;
    height: 25px;
  }

  .go {
    margin-left: 10px;
    margin-right: 0px;
    width: 25px;
    height: 25px;
  }

  .clang {
    margin-right: 0px;
    width: 25px;
    height: 25px;
  }

  .js {
    margin-left: 13px;
    width: 25px;
    height: 25px;
  }

  .pythonText > h3 {
    margin-left: 12px;
    font-size: 7px;
  }

  .javaText > h3 {
    margin-left: 7px;
    font-size: 7px;
  }

  .goText > h3 {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 7px;
  }

  .cText > h3 {
    margin-left: 10px;
    font-size: 7px;
  }

  .jsText > h3 {
    margin-left: 10px;
    font-size: 7px;
  }

  .flutter {
    margin-right: 0px;
    margin-left: 0px;
    width: 25px;
    height: 25px;
  }

  .flask {
    margin-right: 0px;
    margin-left: 12px;
    width: 25px;
    height: 25px;
  }

  .gin {
    margin-right: 0px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
  }

  .electron {
    margin-right: 0px;
    margin-left: 0px;
    width: 25px;
    height: 25px;
  }

  .react {
    margin-right: 0px;
    margin-left: 15px;
    width: 25px;
    height: 25px;
  }

  .flutterText > h3 {
    margin-left: 2px;
    font-size: 7px;
  }

  .flaskText > h3 {
    font-size: 7px;
  }

  .ginText > h3 {
    margin-left: 18px;
    font-size: 7px;
  }

  .electronText > h3 {
    font-size: 7px;
  }

  .reactText > h3 {
    margin-left: 18px;
    font-size: 7px;
  }

  .buttonDown {
    display: none;
  }

  .homeSection {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .quote {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* //phone */
@media (max-width: 575px) {
  .navItemColor > ul > li > a {
    font-size: 10px;
  }

  .myName > .slide-left > h1 {
    margin-top: 50px;
    margin-left: 0px;
    font-size: 30px;
    text-align: center;
  }

  .myName > .slide-left2 > h2 {
    margin-top: 10px;
    margin-left: 0px;
    font-size: 22px;
    text-align: center;
  }
  .myName > .slide-left2 > h3 {
    margin-top: 5px;
    margin-left: 0px;
    font-size: 20px;
    text-align: center;
  }

  .imagePouya {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .buttonDown {
    display: none;
  }
}
